export GITLAB_HOME=$(pwd)
export GITLAB_IP=192.168.1.56
export GITLAB_HTTP_PORT=
export GITLAB_PROTO=http
export GITLAB_PORT=8081
export GITLAB_URI=${GITLAB_PROTO}://${GITLAB_IP}:${GITLAB_PORT}
export GITLAB_BACKUP_KEEP=5